<div class="row mb-5">
  <div class="col d-flex">
    <%= image_tag 'stethoscope.svg', class: 'me-2 h-100' %>
    <h4 class="h4 mb-0 lh-base"><%= t('my_doctors') %></h4>
  </div>
</div>

<div id="doctors" class="grid gap-2 mb-3">
  <%= render @doctors %>
</div>
