<% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<h1 class="h1 text-center mb-3">Appointments</h1>

<div id="appointments" class="grid gap-5">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
  <% end %>
</div>
