<h3 class="h3 fw-bold lh-base text-center mb-4">My Appointments</h3>

<% if @appointments %>
  <div id="appointments" class="grid mb-3">
    <% @appointments.each do |appointment| %>
      <%= render appointment %>
    <% end %>
  </div>
<% else %>
  <h4 class="h4 text-center text-info mt-5">You have no appointments yet!!</h4>
<% end %>
