<h1 class="h1 text-center mb-3">Appointments</h1>

<% if @appointments && !@appointments.empty? %>
  <div id="appointments" class="grid gap-5">
    <% @appointments.each do |appointment| %>
      <%= render appointment %>
    <% end %>
  </div>
<% else %>
  <h4 class="h4 text-center text-info mt-5">You have no appointments yet!!</h4>
<% end %>
