<h3 class="h3 fw-bold lh-base text-center mb-4"><%= t('my_appointments') %></h3>

<% if @appointments.present? %>
  <div id="appointments" class="grid mb-3">
      <%= render @appointments %>
  </div>
<% else %>
  <h4 class="h4 text-center text-info mt-5"><%= t('you_have_no_appointments_yet') %></h4>
<% end %>
