<nav class="navbar bg-body-tertiary p-2">
  <div class="container justify-content-start gap-2">
    <a class="navbar-brand" href="#">MediApp</a>
    <div class="vr"></div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <%= image_tag 'calendar.svg' %>
          <span class="px-2">My Appointments</span>
        </a>
      </li>
    </ul>
  </div>
</nav>