<nav class="navbar bg-body-tertiary p-2">
  <div class="container justify-content-start gap-2">
    <%= link_to t('medi_app'), root_path, class: "navbar-brand" %>
    <div class="vr"></div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to appointments_path, class: "nav-link active" do %>
          <%= image_tag 'calendar.svg' %>
          <span class="px-2"><%= t('my_appointments') %></span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>